<div>
  <h2>Créer une Partie</h2>
  <label>
    <input type="checkbox" [(ngModel)]="amical"> Partie Amicale
  </label>
  <button (click)="createPartie()">Créer Partie</button>

  <div *ngIf="partieId">
    <h3>Ajouter des Joueurs à la Partie {{ partieId }}</h3>
    
    <!-- Menu déroulant pour sélectionner un joueur -->
    <label>
      Sélectionner un joueur:
      <select [(ngModel)]="selectedJoueur">
        <option *ngFor="let joueur of joueurListe" [ngValue]="joueur">
          {{ joueur.nom }}
        </option>
      </select>
    </label>

    <label>
      Points: <input type="number" [(ngModel)]="points">
    </label>
    <button (click)="addJoueur()">Ajouter Joueur</button>

    <h4>Liste des Joueurs</h4>
    <ul>
      <li *ngFor="let joueur of joueurs">
        Joueur {{ joueur.joueurId }} - Points: {{ joueur.points }}
      </li>
    </ul>
  </div>
</div>
