
<div class="all">

    <div class="navbar">
        <button class="btn" [routerLink]="['/classement']">Classement</button> 
        <button class="btn" [routerLink]="['/profile']">Profil</button> 
    </div>

    <div class="cards">

            <a [routerLink]="['/rules']">
                <img src="images/pique.png" alt="images/pique.png">
            </a>
            
            <a [routerLink]="['/tropheesHall']">
                <img src="images/treffle.png" alt="images/treffle.png">
            </a>

            <a [routerLink]="['/newGame']">
                <img src="images/carreau.png" alt="images/carreau.png">
            </a>
            
            <a [routerLink]="['/allGames']">
                <img src="images/coeur.png" alt="images/coeur.png">
            </a>

        
        


    </div>

</div>
