.all {
    width: 100vw; /* Largeur 100% de l'écran */
    height: 100vh; /* Hauteur 100% de l'écran */
    background-image: url('/images/barblur.jpg'); /* Image de fond */
    background-size: cover; /* Ajuste l'image pour qu'elle couvre tout */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Empêche tout dépassement */
}

.navbar {
    width: 100%; /* Occupe toute la largeur */
    position: absolute; /* Se place au-dessus de tout */
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
}

.saison{
    color: white;
    display: flex;
    flex-direction: column;
align-items: center;
}

.saison h1{
    font-size: 15vh;
}



.main-container{
    width: 42%;
    padding: 1%;
}

.main{
    padding: 2vh;
}

.joueur{
    background-color: white;
    height: 7vh;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    color: rgb(92, 91, 91);
    position: relative;
    .pp{
        width: 15%;
        height: 9vh;
        position: absolute;
        bottom: 0;

    }
}

.joueur img{
    height: 10vh;
    padding-bottom: 1vh;
}