<div class="all">
  <div class="navbar">
    <h2>TapTap</h2>
    <h2>Saison</h2>
  </div>

  <div class="saison">
    <h1>Saison</h1>
    <div *ngIf="countdown$ | async as countdown">
      <h2>
        {{ countdown.days }}- {{ countdown.hours }}- {{ countdown.minutes }}-
        {{ countdown.seconds }}
      </h2>
    </div>
  </div>

  <div class="main-container">
    <div class="main" *ngFor="let joueur of joueursClassement" [routerLink]="['/profil', joueur.ID_Joueur]">
      <div class="joueur">
        <div class="pp">
          <img src="{{ joueur.avatar_URL }}" alt="Photo de profil du joueur." />
        </div>

        <h1 style="padding-left: 43%">{{ joueur.nom }}</h1>
        <h1>{{ joueur.points }}</h1>
      </div>
    </div>
  </div>
</div>
